/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "pt";
  font-style: normal;
  font-weight: 400;
  src: url("/dist/font/pt-sans-v9-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("PT Sans"), local("pt"),
    url("/dist/font/pt-sans-v9-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/dist/font/pt-sans-v9-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/dist/font/pt-sans-v9-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/dist/font/pt-sans-v9-latin_cyrillic-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/dist/font/pt-sans-v9-latin_cyrillic-regular.svg#PTSans")
      format("svg"); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "pt";
  font-style: normal;
  font-weight: 700;
  src: url("/dist/font/pt-sans-v9-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("PT Sans Bold"), local("pt-bold"),
    url("/dist/font/pt-sans-v9-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/dist/font/pt-sans-v9-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/dist/font/pt-sans-v9-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("/dist/font/pt-sans-v9-latin_cyrillic-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/dist/font/pt-sans-v9-latin_cyrillic-700.svg#PTSans")
      format("svg"); /* Legacy iOS */
}

/* pt-sans-caption-regular - latin_cyrillic */
@font-face {
  font-family: "pt-caption";
  font-style: normal;
  font-weight: 400;
  src: url("/dist/font/pt-sans-caption-v10-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("PT Sans Caption"), local("pt-caption"),
    url("/dist/font/pt-sans-caption-v10-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/dist/font/pt-sans-caption-v10-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/dist/font/pt-sans-caption-v10-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/dist/font/pt-sans-caption-v10-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/dist/font/pt-sans-caption-v10-latin_cyrillic-regular.svg#PTSansCaption") format("svg"); /* Legacy iOS */
}
/* pt-sans-caption-700 - latin_cyrillic */
@font-face {
  font-family: "pt-caption";
  font-style: normal;
  font-weight: 700;
  src: url("/dist/font/pt-sans-caption-v10-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("PT Sans Caption Bold"), local("pt-caption-bold"),
    url("/dist/font/pt-sans-caption-v10-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/dist/font/pt-sans-caption-v10-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/dist/font/pt-sans-caption-v10-latin_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/dist/font/pt-sans-caption-v10-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/dist/font/pt-sans-caption-v10-latin_cyrillic-700.svg#PTSansCaption") format("svg"); /* Legacy iOS */
}

/* pt-mono-regular - latin_cyrillic */
@font-face {
  font-family: "pt-mono";
  font-style: normal;
  font-weight: 400;
  src: url("/dist/font/pt-mono-v5-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("PT Mono"), local("pt-mono"), local("monospace"),
    url("/dist/font/pt-mono-v5-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/dist/font/pt-mono-v5-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/dist/font/pt-mono-v5-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/dist/font/pt-mono-v5-latin_cyrillic-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/dist/font/pt-mono-v5-latin_cyrillic-regular.svg#PTMono")
      format("svg"); /* Legacy iOS */
}

/* pt-serif-regular - latin_cyrillic */
@font-face {
  font-family: "pt-serif";
  font-style: normal;
  font-weight: 400;
  src: url("/dist/font/pt-serif-v9-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("PT Serif"), local("pt-serif"), local("sans-serif"),
    url("/dist/font/pt-serif-v9-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/dist/font/pt-serif-v9-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/dist/font/pt-serif-v9-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/dist/font/pt-serif-v9-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/dist/font/pt-serif-v9-latin_cyrillic-regular.svg#PTSerif")
      format("svg"); /* Legacy iOS */
}
/* pt-serif-700 - latin_cyrillic */
@font-face {
  font-family: "pt-serif";
  font-style: normal;
  font-weight: 700;
  src: url("/dist/font/pt-serif-v9-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("PT Serif Bold"), local("pt-serif-bold"), local("sans-serif"),
    url("/dist/font/pt-serif-v9-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/dist/font/pt-serif-v9-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/dist/font/pt-serif-v9-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("/dist/font/pt-serif-v9-latin_cyrillic-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/dist/font/pt-serif-v9-latin_cyrillic-700.svg#PTSerif")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    /* from https://fonts.gstatic.com/s/roboto/v15/bRjVrGwwI0OAtR-u_85oFA.eot */
      url("/dist/font/Roboto_400.eot?#iefix") format("embedded-opentype"),
    /* from https://fonts.gstatic.com/s/roboto/v15/Y5yuUJGDLtmYv2_3fMB4fA.woff */
      url("/dist/font/Roboto_400.woff") format("woff"),
    /* from https://fonts.gstatic.com/s/roboto/v15/IC_Dw3HJuHH__1Luo8iRGA.woff2 */
      url("/dist/font/Roboto_400.woff2") format("woff2"),
    /* from https://fonts.gstatic.com/l/font?kit=to6tCcBLfnLj8bFoVr7doQ&skey=a0a0114a1dcab3ac&v=v15#Roboto */
      url("/dist/font/Roboto_400.svg#Roboto") format("svg"),
    /* from https://fonts.gstatic.com/s/roboto/v15/B85vmdvDILX92ray16e-1g.ttf */
      url("/dist/font/Roboto_400.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto"), local("Roboto-Thin"),
      url("/dist/font/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    /* from https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcfY6323mHUZFJMgTvxaG2iE.eot */
      url("/dist/font/Roboto_300.eot?#iefix") format("embedded-opentype"),
    /* from https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcT8E0i7KZn-EPnyo3HZu7kw.woff */
      url("/dist/font/Roboto_300.woff") format("woff"),
    /* from https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcVtXRa8TVwTICgirnJhmVJw.woff2 */
      url("/dist/font/Roboto_300.woff2") format("woff2"),
    /* from https://fonts.gstatic.com/l/font?kit=Fl4y0QdOxyyTHEGMXX8kcZbd9NUM7myrQQz30yPaGQ4&skey=11ce8ad5f54705ca&v=v15#Roboto */
      url("/dist/font/Roboto_300.svg#Roboto") format("svg"),
    /* from https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcaCWcynf_cDxXwCLxiixG1c.ttf */
      url("/dist/font/Roboto_300.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    /* from https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSPY6323mHUZFJMgTvxaG2iE.eot */
      url("/dist/font/Roboto_500.eot?#iefix") format("embedded-opentype"),
    /* from https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSD8E0i7KZn-EPnyo3HZu7kw.woff */
      url("/dist/font/Roboto_500.woff") format("woff"),
    /* from https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSFtXRa8TVwTICgirnJhmVJw.woff2 */
      url("/dist/font/Roboto_500.woff2") format("woff2"),
    /* from https://fonts.gstatic.com/l/font?kit=oHi30kwQWvpCWqAhzHcCSJbd9NUM7myrQQz30yPaGQ4&skey=ee881451c540fdec&v=v15#Roboto */
      url("/dist/font/Roboto_500.svg#Roboto") format("svg"),
    /* from https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSKCWcynf_cDxXwCLxiixG1c.ttf */
      url("/dist/font/Roboto_500.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    /* from https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTvY6323mHUZFJMgTvxaG2iE.eot */
      url("/dist/font/Roboto_700.eot?#iefix") format("embedded-opentype"),
    /* from https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTj8E0i7KZn-EPnyo3HZu7kw.woff */
      url("/dist/font/Roboto_700.woff") format("woff"),
    /* from https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTltXRa8TVwTICgirnJhmVJw.woff2 */
      url("/dist/font/Roboto_700.woff2") format("woff2"),
    /* from https://fonts.gstatic.com/l/font?kit=isZ-wbCXNKAbnjo6_TwHTpbd9NUM7myrQQz30yPaGQ4&skey=c06e7213f788649e&v=v15#Roboto */
      url("/dist/font/Roboto_700.svg#Roboto") format("svg"),
    /* from https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTqCWcynf_cDxXwCLxiixG1c.ttf */
      url("/dist/font/Roboto_700.ttf") format("truetype");
}

/* roboto-mono-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url("/dist/font/roboto-mono-v5-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/dist/font/roboto-mono-v5-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Mono Medium"), local("RobotoMono-Medium"),
    url("/dist/font/roboto-mono-v5-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/dist/font/roboto-mono-v5-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"),
    url("/dist/font/roboto-mono-v5-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/dist/font/roboto-mono-v5-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Gilroy";
  src: url("/dist/font/Gregor_reg_v20-06-2013.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), url("/dist/font/Gilroy-Regular.otf") format("opentype"),
    url("/dist/font/Gilroy-Regular.woff") format("woff"),
    url("/dist/font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/dist/font/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), url("/dist/font/Gilroy-SemiBold.eot") format("embedded-opentype"),
    url("/dist/font/Gilroy-SemiBold.otf") format("opentype"),
    url("/dist/font/Gilroy-SemiBold.woff") format("woff"),
    url("/dist/font/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/dist/font/Gilroy-Light.otf") format("opentype"),
    url("/dist/font/Gilroy-Light.woff") format("woff"),
    url("/dist/font/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Whitney Bold";
  src: local("Whitney Bold"), url("/dist/font/Whitney-Bold2.otf") format("opentype");
    url("/dist/font/Whitney-Bold.eot") format("embedded-opentype"),
    url("/dist/font/Whitney-Bold.ttf") format("truetype"),
    url("/dist/font/Whitney-Bold.woff") format("font-woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: local("Whitney Medium"), url("/dist/font/Whitney-Medium.otf") format("opentype"),
    url("/dist/font/Whitney-Medium.ttf") format("truetype"),
    url("/dist/font/Whitney-Medium.woff") format("font-woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: local("Whitney Light"), url("/dist/font/Whitney-Light.otf") format("opentype"),
    url("/dist/font/Whitney-Light.ttf") format("truetype"),
    url("/dist/font/Whitney-Light.woff") format("font-woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: local("Whitney Book"), url("/dist/font/Whitney-Book.otf") format("opentype"),
    url("/dist/font/Whitney-Book.ttf") format("truetype"),
    url("/dist/font/Whitney-Book.woff") format("font-woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("/dist/font/OpenSans-Regular.woff2") format("woff2"),
    url("/dist/font/OpenSans-Regular.woff") format("woff"),
    url("/dist/font/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), url("/dist/font/OpenSans-SemiBold.woff2") format("woff2"),
    url("/dist/font/OpenSans-SemiBold.woff") format("woff"),
    url("/dist/font/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Ligth"), url("/dist/font/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FreeSet";
  src: url("/dist/font/FreeSetLightC.woff2") format("woff2"),
    url("/dist/font/FreeSetLightC.woff") format("woff"),
    url("/dist/font/FreeSetLightC.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FreeSet";
  src: url("/dist/font/OpenSans-SemiBold.woff2") format("woff2"),
    url("/dist/font/OpenSans-SemiBold.woff") format("woff"),
    url("/dist/font/FreeSetC.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FreeSet";
  src: url("/dist/font/FreeSetDemiC.woff2") format("woff2"),
    url("/dist/font/FreeSetDemiC.woff") format("woff"),
    url("/dist/font/FreeSetDemiC.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FreeSet";
  src: url("/dist/font/FreeSetBoldC.woff2") format("woff2"),
    url("/dist/font/FreeSetBoldC.woff") format("woff"),
    url("/dist/font/FreeSetBoldC.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("/dist/font/PFDinTextCondPro-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("/dist/font/PFDinTextCondPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("/dist/font/PFDinTextCondPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("/dist/font/PFDinTextCondPro-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("/dist/font/PFDinTextCondPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "UniCredit";
  src: url("/dist/font/UniCredit_CY-Regular.ttf") format("truetype"),
    url("/dist/font/UniCredit_CY-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniCredit";
  src: url("/dist/font/UniCredit_CY-Medium.ttf") format("truetype"),
    url("/dist/font/UniCredit_CY-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "UniCredit";
  src: url("/dist/font/UniCredit_CY-Bold.ttf") format("truetype"),
    url("/dist/font/UniCredit_CY-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "UniCredit";
  src: url("/dist/font/UniCredit_CY-Italic.ttf") format("truetype"),
    url("/dist/font/UniCredit_CY-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "UniCredit";
  src: url("/dist/font/UniCredit CY-Light.ttf") format("truetype"),
    url("/dist/font/UniCredit CY-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PFBeauSans";
  src: url("/dist/font/PFBeauSansPro-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PFBeauSans";
  src: url("/dist/font/PFBeauSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("/dist/font/Pragmatica.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("/dist/font/PragmaticaBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/dist/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/dist/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/dist/font/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/dist/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/dist/font/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Шрифт Ак Барс Банк */
@font-face {
  font-family: "Rubrik";
  src: url("/dist/font/RUBRIKNEW-LIGHT.woff") format("woff"),
       url("/dist/font/RUBRIKNEW-LIGHT.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubrik";
  src: url("/dist/font/RUBRIKNEW-MEDIUM.woff") format("woff"),
       url("/dist/font/RUBRIKNEW-MEDIUM.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubrik";
  src: url("/dist/font/RUBRIKNEW-BOLD.woff") format("woff"),
       url("/dist/font/RUBRIKNEW-BOLD.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubrik";
  src: url("/dist/font/RUBRIKNEW-BOLD.woff") format("woff"),
       url("/dist/font/RUBRIKNEW-BOLD.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Шрифт Ак Барс Банк */

/* Шрифт Газпромбанк */
@font-face {
  font-family: "Cera";
  src: url("/dist/font/Cera-Regular-Desktop.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera";
  src: url("/dist/font/Cera-Bold-Desktop.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
/* Шрифт Газпромбанк */

/* Шрифты МИнБанк */
/* для баннеров */
@font-face {
  font-family: "Gotham";
  src: url("/dist/font/GothaProLig.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("/dist/font/GothaProReg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("/dist/font/GothaProMed.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("/dist/font/GothaProBol.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
/*для контента*/
@font-face {
  font-family: "Proxima Nova";
  src: url("/dist/font/ProximaNova-Light.eot");
  src: url("/dist/font/ProximaNova-Light.eot") format("embedded-opentype"),
  url("/dist/font/ProximaNova-Light.woff") format("woff"),
  url("/dist/font/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/dist/font/ProximaNova-LightIt.eot");
  src: url("/dist/font/ProximaNova-LightIt.eot") format("embedded-opentype"),
  url("/dist/font/ProximaNova-LightIt.woff") format("woff"),
  url("/dist/font/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/dist/font/ProximaNova-Regular.eot");
  src: url("/dist/font/ProximaNova-Regular.eot") format("embedded-opentype"),
  url("/dist/font/ProximaNova-Regular.woff") format("woff"),
  url("/dist/font/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/dist/font/ProximaNova-RegularIt.eot");
  src: url("/dist/font/ProximaNova-RegularIt.eot") format("embedded-opentype"),
  url("/dist/font/ProximaNova-RegularIt.woff") format("woff"),
  url("/dist/font/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/dist/font/ProximaNova-Semibold.eot");
  src: url("/dist/font/ProximaNova-Semibold.eot") format("embedded-opentype"),
  url("/dist/font/ProximaNova-Semibold.woff") format("woff"),
  url("/dist/font/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/dist/font/ProximaNova-SemiboldIt.eot");
  src: url("/dist/font/ProximaNova-SemiboldIt.eot") format("embedded-opentype"),
  url("/dist/font/ProximaNova-SemiboldIt.woff") format("woff"),
  url("/dist/font/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/dist/font/ProximaNova-Bold.eot");
  src: url("/dist/font/ProximaNova-Bold.eot") format("embedded-opentype"),
  url("/dist/font/ProximaNova-Bold.woff") format("woff"),
  url("/dist/font/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/dist/font/ProximaNova-Bold.eot");
  src: url("/dist/font/ProximaNova-Bold.eot") format("embedded-opentype"),
  url("/dist/font/ProximaNova-Bold.woff") format("woff"),
  url("/dist/font/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Шрифты МИнБанк */

/*Шрифты Абсолют*/
@font-face {
  font-family: "Root";
  src: url("/dist/font/PT-Root-UI_Bold.woff2") format("woff2"),
  url("/dist/font/PT-Root-UI_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Root";
  src: url("/dist/font/PT-Root-UI_Medium.woff2") format("woff2"),
  url("/dist/font/PT-Root-UI_Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Root";
  src: url("/dist/font/PT-Root-UI_Regular.woff2") format("woff2"),
  url("/dist/font/PT-Root-UI_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Root";
  src: url("/dist/font/PT-Root-UI_Light.woff2") format("woff2"),
  url("/dist/font/PT-Root-UI_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
/*Шрифты Абсолют*/

/*Шрифты СГБ*/
@font-face {
  font-family: "Tinos";
  src: url("/dist/font/Tinos-Bold.ttf");
  url("/dist/font/Tinos-Bold.ttf") format("truetype"),
  url("/dist/font/tinos-v16-latin_cyrillic-ext_cyrillic-700.woff") format("woff"),
  url("/dist/font/tinos-v16-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"),
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tinos";
  src: url("/dist/font/Tinos-Regular.ttf");
  url("/dist/font/Tinos-Regular.ttf") format("truetype"),
  url("/dist/font/tinos-v16-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"),
  url("/dist/font/tinos-v16-latin_cyrillic-ext_cyrillic-regular.woff") format("woff2"),
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tinos";
  src: url("/dist/font/Tinos-BoldItalic.ttf");
  url("/dist/font/Tinos-BoldItalic.ttf") format("truetype"),
  url("/dist/font/tinos-v16-latin_cyrillic-ext_cyrillic-700italic.woff") format("woff"),
  url("/dist/font/tinos-v16-latin_cyrillic-ext_cyrillic-700italic.woff2") format("woff2"),
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Tinos";
  src: url("/dist/font/Tinos-Italic.ttf");
  url("/dist/font/Tinos-Italic.ttf") format("truetype"),
  url("/dist/font/tinos-v16-latin_cyrillic-ext_cyrillic-italic.woff") format("woff"),
  url("/dist/font/tinos-v16-latin_cyrillic-ext_cyrillic-italic.woff2") format("woff2"),
  font-weight: 400;
  font-style: italic;
}
/*Шрифты РНКБ*/
@font-face {
  font-family: "SuisseIntl";
  src: url("/dist/font/SuisseIntl-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("/dist/font/SuisseIntl-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("/dist/font/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("/dist/font/Geometria-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Шрифты Сберстрахование*/
@font-face {
  font-family: "SB Sans";
  src: url("/dist/font/SBSansText-Regular.ttf") format("truetype"),
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SB Sans";
  src: url("/dist/font/SBSansText-Bold.ttf") format("truetype"),
  font-weight: 700;
  font-style: normal;
}
/*Шрифты Сберстрахование*/

/*Шрифты Согаз*/
@font-face {
  font-family: "Stratos";
  src: url("/dist/font/StratosLCWeb-Bold.ttf");
  url("/dist/font/StratosLCWeb-Bold.ttf") format("truetype"),
  url("/dist/font/StratosLCWeb-Bold.woff2") format("woff2"),
  url("/dist/font/StratosLCWeb-Bold.woff") format("woff"),
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("/dist/font/StratosLCWeb-Regular.ttf");
  url("/dist/font/StratosLCWeb-Regular.ttf") format("truetype"),
  url("/dist/font/StratosLCWeb-Regular.woff2") format("woff2"),
  url("/dist/font/StratosLCWeb-Regular.woff") format("woff"),
  font-weight: 400;
  font-style: normal;
}
/*Шрифты Согаз*/

/*Шрифты Совкомбанк Страхование*/
@font-face {
  font-family: "Bebas Neue";
  src: url("/dist/font/BebasNeue.ttf");
  font-weight: 700;
  font-style: normal;
}
/*Шрифты Совкомбанк Страхование*/

@font-face {
  font-family: "Graphik";
  src: url("/dist/font/Graphik-Regular-Desktop.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/dist/font/Graphik-Medium-Desktop.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/dist/font/Graphik-Bold-Desktop.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DrukText";
  src: url("/dist/font/DrukTextCy-Medium-Desktop.otf");
  font-weight: 500;
  font-style: normal;
}
